@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,250,300,400,500,600,700,900,italic);

body {
	background-color: #2d2d2d;
	font-family: "Source Code Pro";
	padding-top: 65px;
}

li a.active {
	background-color: #4CAF50;
	color: red;
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

li:hover{
	cursor: pointer;
}

a:hover{
	cursor: pointer;
}

div.center {
	padding: 0px;
	width: 100%;
}

div.vertical{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	margin:10px auto;
	color: #e6e6e6;
	font-weight: 300;
	border-top: 2px solid;
	width: 50%;  
	font-size: 65px;
	text-transform: uppercase;
	text-align: center;
	
}

h2 {
	margin:5px auto;
	color: #e6e6e6;
	font-weight: 200;
	font-size: 30px;
	text-align: center;
}

h3 {
	margin: auto;
	color: #2d2d2d;
	text-align: center;
	font-weight: 300;
	font-size: 45px;
	width: 70%;
	border-bottom: 2px solid #2d2d2d;
}

h3.projectsHeader {
	margin: auto;
	color: #2d2d2d;
	text-align: center;
	font-weight: 500px;
	font-size: 45px;
	width: 40%;
	border-bottom: 2px solid #2d2d2d;
}

p.aboutMe {
	margin: 10px 0px 30px 20px;
	text-align: left;
	font-weight: 300;
	font-size: 20px;
	word-wrap: normal;
}

div.aboutSection {
	margin: 100px auto;
	padding: 10px 10px;
	background-color: #688593;
	color: #2d2d2d;
	border: 3px solid #882c06 ;
	width: 45%;
	box-shadow: 10px 10px 5px #141414;
}

div.projectSection {
	padding: 20px 30px;
	background-color: #e6e6e6;
	width: 100%;
	box-shadow: 10px 10px 5px #141414;
}

div.project {
	color: #e6e6e6;
	margin: 20px auto;
	align-content: center;
	background-color: #2d2d2d;
	width: 50%;
}

div.horizontal {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
}
#infoLogos {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}

h4 {
	margin: 10px 0px;
	text-align: left;
	font-weight: 200;
	font-size: 30px;
	width: 100%;
}

p.projectDesc {
	text-align: left;
	word-wrap: normal;
	margin: 10px 0px;
	font-weight: 300;
	font-size: 18px;
	padding: 5px 5px;
}

pre {
	word-wrap: none;
	white-space: nowrap;
}

img {
	margin: 10px 10px;
	height: 100px;
	
}

button:focus{outline: 0px;}

button.codeSnip {
	margin-top: 30px;
	background: #141414;
	color: #e6e6e6;
	letter-spacing: 2px;
	font-weight: 200;
	border: none;
	width: 100%;
	height: 50px;
}

button.codeSnip:hover{
	background-color: #ccc;
	color: #141414;
	border: 2px solid #2d2d2d;
	transition: 0.25s;
	cursor: pointer;
	width: 100%;
	text-decoration: underline;
}

div.contactSection{
	margin: 50px auto;
	padding: 10px 10px;
	align-content: center;
	background-color: #882c06;
	width: 20%;
	box-shadow: 10px 10px 5px #141414;
}

h3.contact {
	margin: auto;
	color: #e6e6e6;
	border-color: #e6e6e6;	
	text-align: center;
	font-size: 35px;
	width: 100%;
}

p.info{
	margin-top: 2px;
	word-wrap: break-word;
	text-align: center;
	color: #ccc;
}

img.github{	
	height: 50px;
}

@media only screen and (max-width: 768px){
	s{
		display: none;
	}

	pre {
		word-wrap: none;
		white-space: nowrap;
	}

	body{
		/* padding-top: 210px; */
	}
	
	div.project{
		width: 100%;
	}
	div.horizontal{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	h1{
		width: 90%;
	}
	p.projectDesc{
		text-align: center;
	}
	h4{
		margin:auto;
		width: 100%;
		text-align: center;
	}
	div.aboutSection{
		width: 90%;
	}
	div.contactSection{
		width:60%;
	}
	h3.projectsHeader{
		width: 70%;
	}
	h3.contact{
		font-size: 30px;
	}
	p.info{
		font-size: 15px;
	}
}
