@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,250,300,400,500,600,700,900);

body {
	background-color: #2d2d2d;
	font-family: "Source Code Pro";
	margin: 30px 0px 0px 0px;
	-webkit-text-size-adjust: 70%;
}

div.center {
	padding: 0px;
	width: 100%;
}

h1 {
	margin:10px auto;
	color: #e6e6e6;
	font-weight: 300;
	border-top: 2px solid;
	width: 50%;  
	font-size: 65px;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	margin:5px auto;
	color: #e6e6e6;
	font-weight: 200;
	width: 20%;
	font-size: 30px;
	text-align: center;
}

h3 {
	margin: auto;
	color: #2d2d2d;
	text-align: center;
	font-weight: 300;
	font-size: 45px;
	width: 70%;
	border-bottom: 2px solid #2d2d2d;
}

h3.projectsHeader {
	margin: auto;
	color: #2d2d2d;
	text-align: center;
	font-weight: 500px;
	font-size: 45px;
	border-bottom: 2px solid #2d2d2d;
}

p.aboutMe {
	margin: 30px 0px 30px 20px;
	text-align: left;
	font-weight: 300;
	font-size: 20px;
	word-wrap: normal;
}

div.aboutSection {
	margin: 100px auto;
	padding: 20px 30px;
	background-color: #688593;
	color: #2d2d2d;
	border: 3px solid #882c06 ;
	width: 45%;
	box-shadow: 10px 10px 5px;
}

div.projectSection {
	padding: 20px 30px;
	background-color: #e6e6e6;
	width: 100%;
	box-shadow: 10px 10px 5px;
}

div.project {
	color: #e6e6e6;
	margin: 20px auto;
	align-content: center;
	background-color: #2d2d2d;
	width: 50%;
}

div.horizontal {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
}

h4 {
	margin: 10px 0px;
	text-align: left;
	font-weight: 200;
	font-size: 30px;
	width: 40%;
}

p.projectDesc {
	text-align: left;
	word-wrap: normal;
	margin: 10px 0px;
	font-weight: 300;
	font-size: 18px;
}

img {
	margin: 10px 10px;
	width: 15%;
	height: 15%;
}

button.codeSnip {
	margin-top: 30px;
	background: #141414;
	color: #e6e6e6;
	letter-spacing: 2px;
	font-weight: 200;
	border: none;
	width: 100%;
	height: 50px;
}

button.codeSnip:hover{
	background-color: #ccc;
	color: #141414;
	border: 2px solid #2d2d2d;
	transition: 0.25s;
	cursor: pointer;
	width: 100%;
	text-decoration: underline;
}

div.contactSection{
	margin: 50px auto;
	padding: 10px 10px;
	align-content: center;
	background-color: #882c06;
	width: 20%;
	box-shadow: 10px 10px 5px;
}

h3.contact {
	margin: auto;
	color: #e6e6e6;
	border-color: #e6e6e6;	
	text-align: center;
	font-size: 45px;
	width: 100%;
}

input.name{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

p.info{
	margin-top: 10%;
	text-align: center;
	color: #ccc;
}

textarea.message{
	width: 100%;
	height: 300px;
	padding: 12px 20px;
	margin: 8px 0px;
	resize: none;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	box-sizing: border-box;
}

@media (max-width: 768px){
	div.projectSection{
		width: 90%;
		background-color: #882c06;
	}
	div.aboutSection{
		width: 90%;
	}
	div.contactSection{
		width:90%;
	}
}
